<section class="services last">
  <div class="services-head">
    <h2 class="title">Quality, Healthy and Realible Products</h2>
    <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, eveniet! Unde, suscipit
      eveniet doloribus pariatur minima fuga. Omnis aliquid sunt repudiandae laudantium maxime ducimus repellat,
      tenetur, incidunt officia, ipsa velit!</p>
  </div>
  <div class="guaranteed">
    <div class="service box1">
      <div class="number-box">01</div>
      <div class="content-box">
        <h5>Radical Integrity</h5>
        <p>Our people truly care for our work and for each other.</p>
      </div>
    </div>
    <div class="service box2">
      <div class="number-box">02</div>
      <div class="content-box">
        <h5>People First</h5>
        <p>We believe that a culture will build a thriving company.</p>
      </div>
    </div>
    <div class="service box3">
      <div class="number-box">03</div>
      <div class="content-box">
        <h5>Process Perfection</h5>
        <p>We’re driven to becoming the best version of ourselves.</p>
      </div>
    </div>
  </div>
</section>