.git
.env
.vscode
# User-specific stuff
.idea/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

node_modules/
src/node_modules/

# key & cert
key.pem
cert.pem

# static files: images
src/public/users/