<!DOCTYPE html>
<html lang="en">

<!--  Head/Meta  Start-->
<% var title = "Qval | Join qval and start sharing stores" %>
<% var image = "../img/fav.png" %>
<% var description = "This is the homepage for qval, where users can connect, share updates, and discover new content." %>
<%- include('../partials/meta', {
  title: title, image: image, description:description
}); %>
<!--  Head/Meta  End-->

<body>
  <!--App Logon page Start-->
    <%- include('../partials/apps/logon', {data: data}); %>
  <!--App Logon page End-->
</body>

</html>