<section class="banners">
  <div class="services-head">
    <h2 class="title">Current Offers</h2>
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <div class="banners-container">
    <div class="single-banner left">
      <a href="#">
        <img src="img/product/banners/banner-1.webp" alt="Banner image">
      </a>
      <div class="banner-content">
        <h4>-50% Sale</h4>
        <h5>Summer Vacation</h5>
      </div>
    </div>
    <div class="single-banner left">
      <a href="#">
        <img src="img/product/banners/banner-2.webp" alt="Banner image">
      </a>
      <div class="banner-content">
        <h4>-50% Sale</h4>
        <h5>Summer Vacation</h5>
      </div>
    </div>
  </div>
</section>