<header class="header">
  <div class="logo">
    <span class="bar"></span>
    <h2 class="main">Grocery</h2>
    <span class="art">Store.</span>
  </div>
  <ul class="item-links">
    <li class="item-link active">
      <a href="" class="link">
        <span class="link-text">Home</span>
        <span class="bar"></span>
      </a>
    </li>
    <li class="item-link">
      <a href="" class="link">
        <span class="link-text">Products</span>
        <span class="bar"></span>
      </a>
    </li>
    <li class="item-link">
      <a href="products.html" class="link">
        <span class="link-text">Shop</span>
        <span class="bar"></span>
      </a>
    </li>
    <li class="item-link">
      <a href="" class="link">
        <span class="link-text">About</span>
        <span class="bar"></span>
      </a>
    </li>
  </ul>
  <div class="utility">
    <span class="item search" title="search">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="11.7666" cy="11.7667" r="8.98856" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round" />
        <path d="M18.0183 18.4853L21.5423 22.0001" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </span>
    <span class="item cart" title="cart">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M15.7497 9.47182V6.43982C15.7547 4.35182 14.0657 2.65482 11.9777 2.64982C9.88874 2.64582 8.19274 4.33482 8.18774 6.42282V9.47182"
          stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M2.94995 14.2076C2.94995 8.91362 5.20495 7.14862 11.969 7.14862C18.733 7.14862 20.988 8.91362 20.988 14.2076C20.988 19.5006 18.733 21.2656 11.969 21.2656C5.20495 21.2656 2.94995 19.5006 2.94995 14.2076Z"
          stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <span class="items"></span>
    </span>
    <span class="item profile">
      <span class="picture">
        <img src="img/explore/by/femar.jpg" alt="Profile">
      </span>
      <span class="options">
        <span class="arrow"></span>
        <a href="#" class="option">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M11.8445 21.6621C8.15273 21.6621 5 21.0876 5 18.7868C5 16.486 8.13273 14.3621 11.8445 14.3621C15.5364 14.3621 18.6891 16.4654 18.6891 18.7662C18.6891 21.066 15.5564 21.6621 11.8445 21.6621Z"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M11.8372 11.1738C14.26 11.1738 16.2236 9.21015 16.2236 6.78742C16.2236 4.36469 14.26 2.40015 11.8372 2.40015C9.41452 2.40015 7.44998 4.36469 7.44998 6.78742C7.4418 9.20196 9.3918 11.1656 11.8063 11.1738C11.8172 11.1738 11.8272 11.1738 11.8372 11.1738Z"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <span class="text">Profile</span>
        </a>
        <a href="#" class="option">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M16.3638 6.87003C16.3638 4.48403 14.4298 2.55003 12.0438 2.55003C9.65783 2.53903 7.71583 4.46503 7.70483 6.85103V6.87003"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M14.9727 11.3739H14.9267" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M9.14165 11.3739H9.09565" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M12.0342 21.4896C5.52619 21.4896 4.77719 19.4396 3.31619 14.0226C1.85019 8.58863 4.79119 6.55563 12.0342 6.55563C19.2772 6.55563 22.2182 8.58863 20.7522 14.0226C19.2912 19.4396 18.5422 21.4896 12.0342 21.4896Z"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <span class="text">Orders</span>
        </a>
        <a href="#" class="option">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M12 9.50012C13.3809 9.50012 14.5 10.6192 14.5 12.0001C14.5 13.381 13.3809 14.5001 12 14.5001C10.6191 14.5001 9.5 13.381 9.5 12.0001C9.5 10.6192 10.6191 9.50012 12 9.50012Z"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M20.168 7.25037V7.25037C19.4845 6.05812 17.9712 5.65016 16.7885 6.33865C15.7598 6.93625 14.4741 6.1885 14.4741 4.9923C14.4741 3.61632 13.3659 2.50012 11.9998 2.50012V2.50012C10.6337 2.50012 9.52546 3.61632 9.52546 4.9923C9.52546 6.1885 8.23977 6.93625 7.21199 6.33865C6.02829 5.65016 4.51507 6.05812 3.83153 7.25037C3.14896 8.44262 3.55399 9.96677 4.73769 10.6543C5.76546 11.2529 5.76546 12.7474 4.73769 13.346C3.55399 14.0345 3.14896 15.5586 3.83153 16.7499C4.51507 17.9421 6.02829 18.3501 7.21101 17.6626H7.21199C8.23977 17.064 9.52546 17.8117 9.52546 19.0079V19.0079C9.52546 20.3839 10.6337 21.5001 11.9998 21.5001V21.5001C13.3659 21.5001 14.4741 20.3839 14.4741 19.0079V19.0079C14.4741 17.8117 15.7598 17.064 16.7885 17.6626C17.9712 18.3501 19.4845 17.9421 20.168 16.7499C20.8515 15.5586 20.4455 14.0345 19.2628 13.346H19.2618C18.2341 12.7474 18.2341 11.2529 19.2628 10.6543C20.4455 9.96677 20.8515 8.44262 20.168 7.25037Z"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <span class="text">Settings</span>
        </a>
        <a href="#" class="option logout">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.791 12.1208H9.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M18.8643 9.20477L21.7923 12.1208L18.8643 15.0368" stroke="currentColor" stroke-width="1.5"
              stroke-linecap="round" stroke-linejoin="round" />
            <path
              d="M16.3599 7.63C16.0299 4.05 14.6899 2.75 9.35986 2.75C2.25886 2.75 2.25886 5.06 2.25886 12C2.25886 18.94 2.25886 21.25 9.35986 21.25C14.6899 21.25 16.0299 19.95 16.3599 16.37"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <span class="text">Logout</span>
        </a>
      </span>
    </span>
  </div>
</header>